<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>booway5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>servlet.RequestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userDelete</servlet-name>
    <servlet-class>servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDelete</servlet-name>
    <url-pattern>/userDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userUpdate</servlet-name>
    <servlet-class>servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUpdate</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userAdd</servlet-name>
    <servlet-class>servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userAdd</servlet-name>
    <url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userExcel</servlet-name>
    <servlet-class>servlet.UserExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userExcel</servlet-name>
    <url-pattern>/userExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userExcelAdd</servlet-name>
    <servlet-class>servlet.AddExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userExcelAdd</servlet-name>
    <url-pattern>/userExcelAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userExcelDelete</servlet-name>
    <servlet-class>servlet.DeleteExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userExcelDelete</servlet-name>
    <url-pattern>/userExcelDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userExcelUpdate</servlet-name>
    <servlet-class>servlet.UpdateExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userExcelUpdate</servlet-name>
    <url-pattern>/userExcelUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userXml</servlet-name>
    <servlet-class>servlet.UserXmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userXml</servlet-name>
    <url-pattern>/userXml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userXmlAdd</servlet-name>
    <servlet-class>servlet.AddXmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userXmlAdd</servlet-name>
    <url-pattern>/userXmlAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userXmlDelete</servlet-name>
    <servlet-class>servlet.DeleteXmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userXmlDelete</servlet-name>
    <url-pattern>/userXmlDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userXmlUpdate</servlet-name>
    <servlet-class>servlet.UpdateXmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userXmlUpdate</servlet-name>
    <url-pattern>/userXmlUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>page</servlet-name>
    <servlet-class>servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <filter>
    <description>字符编码</description>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>